<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="manifest.json">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Clonezilla GUI</title>

  <!-- Bootstrap y jQuery -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery-2.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/socket.io-1.4.5.js"></script>
  <script src="/js/listgroup.min.js"></script>

  <!-- Style CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<nav id="TopNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="brandlogo" alt="Brand" src="img/qilogo.png" height="24">
      </a>
      <p id = "topdisplay" class="navbar-text">Clonezilla GUI</p>
    </div>
  </div>
</nav>

<div id="container" class="container-fluid">

  <!-- Barra de botones -->


  <!-- Parte superior - Controles   -->
  <div id="mainarea" class="row">
    <!-- Columna izquierda -->
    <div id="leftcolumn" class="col-sm-6">
      <div class="row blockitem">
        <div class="btn-group" role="group" aria-label="...">
          <button id="refreshimagesbtn" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Refresh Images
          </button>
          <button id="delete_image" type="button" class="btn btn-default remove-button">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Borrar imagen
          </button>
        </div>
      </div>

      <!-- Cuadro de selección de imágenes -->
      <div class="row blockitemgradient">
        <label for="imageslist">Listado de imágenes disponibles:</label>
        <div id="imageslist" class="list-group"></div>
      </div>

      <div id="leftbottomwrapper" class="pull-down">
        <!-- Entrada para el nombre de la nueva imagen -->
        <div class="row blockitemgradient">
          <label for="newimageform">Nueva imagen, introducir nombre:</label>
          <div id="newimageform" class="input-group">
            <input id="newimagename" type="text" class="form-control" placeholder="Nombre para la imagen de disco...">
            <span class="input-group-btn">
              <button id="createimagebtn" class="btn btn-default" type="button">Crear imagen</button>
            </span>
          </div>
        </div>

        <!-- Password del usuario con permisos administrativos -->
        <div class="row blockitemgradient">
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
        </div>

      </div> <!-- Final leftbottomwrapper -->
    </div>   <!-- Final columna izquierda -->

    <!-- Columna derecha     -->

    <div id="rightcolumn" class="col-sm-6">
      <div class="row blockitem">
        <div class="btn-group" role="group" aria-label="...">
          <button id="refreshhdsbtn" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Refresh HDs
          </button>

          <button id="startbtn" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Start
          </button>
        </div>
      </div>
      <div class="row blockitemgradient">
        <label for="hdlist">Discos disponibles:</label>
        <div id="hdlist" class="list-group" data-toggle="items"></div>
      </div>

    </div> <!-- Final Columna derecha  -->

  </div>

  <!-- Parte inferior - Consola   -->
  <div id="consolewrapper" class="row">
    <div id="debugpanel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Consola</h3>
      </div>
      <div class="panel-body">
        <div id="scrollingconsole" class="panel-body">
          <p id="consolecontent"></p>
        </div>
      </div>
    </div>
  </div>

</div> <!-- Final container -->


<script src= "/js/clonezillagui.js"> </script>
</body>
</html>
