body {
    padding-top: 65px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.centered {
    margin-left: 30%;
    /*text-align: center;
    margin: auto auto;*/
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.icon-small {
    width:20px;
    height:20px;
}
.icon-med {
    width:50px;
    height:50px;
}
.icon-big {
    width:100px;
    height:100px;
}
.line {
    height: 60px;
    width: 100%;
}
.inline {
    display: inline-block;
}

#container {
 width: 90%;
 height:auto;
 /*background-color: yellow;*/
}

#led {
 fill: #006500;
}

.device_icon{
  margin: 0%;
  cursor: pointer;

}

.dialinput{
	margin: 30%;
	position: absolute;
}

#debugpanel {
  width: 100%;
  height: 100%;
  bottom: 0;
}

#scrollingconsole {
    height: 100px;
    width: 100%;
    overflow: auto;
}

#hdlist {
  height: 448px;
  overflow: auto;
  /*background-color: blue;*/
}

#imageslist {
  height: 280px;
  overflow: auto;
  /*background-color: blue;*/
}

#imagelistwrapper {
  min-height: 300px;
  overflow: auto;
  /*background-color: blue;*/
}

#consolewrapper {
  height: 20%;
  width: 100%;
  /*background-color: green;*/
  bottom:0;
  padding: 10px;
}

#mainarea {
  width: 100%;
  height: 560px;
  /*background-color: red;*/
}

#leftbottomwrapper {

  /*background-color: blue;*/
}

#leftcolumn {
  background-clip: padding-box;
  border: 10px solid transparent;
  height:auto;
}

#rightcolumn {
  background-clip: padding-box;
  border: 10px solid transparent;
  height:auto;
}

.paddingtop_medium{
  padding-top: 30px;
}

.imagelistitem{
  /*height: 55px;*/
}

.remove-button{
  right: 20px;
}

.blockitemgradient {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background-repeat: repeat;
    border-radius:3px;
    padding: 5px;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
}

.blockitem {
    background-color: transparent;
    border-radius:5px;
    padding-bottom: 5px;
}

.buttonbar {
  height: 40px;
  /*background-color: red;*/
}

.margintop{
  margin-top: 5px;
}

.navbar-nav li{
 line-height: 45px;
 padding-right: 50px;
}
