body {
    padding-top: 65px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.centered {
    margin-left: 30%;
    /*text-align: center;
    margin: auto auto;*/
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.icon-small {
    width:20px;
    height:20px;
}
.icon-med {
    width:50px;
    height:50px;
}
.icon-big {
    width:100px;
    height:100px;
}
.line {
    height: 60px;
    width: 100%;
}
.inline {
    display: inline-block;
}

#container {
 width: 90%;
}

#led {
 fill: #006500;
}

.device_icon{
  margin: 0%;
  cursor: pointer;

}

.dialinput{
	margin: 30%;
	position: absolute;
}

#debugpanel {
  width: 90%;
  min-height: 150px;
  position: absolute;
  bottom: 0;
}

#scrollingconsole {
    height: 100px;
    width: 100%;
    overflow: auto;
}

#hdlist {
  /*height: 500px;*/
  overflow: auto;
}

#imagelist {
  /*height: 200px;*/
  overflow: auto;
}

#consolewrapper {
  height: 25%;
  /*background-color: green;*/
}

#mainarea {
  width: 100%;
  /*height: 75%;*/
  /*background-color: red;*/
}

#leftbottomwrapper {

  /*background-color: blue;*/
}

#leftcolumn {
  /*height: 50vh;*/
  /*background-color: black;*/

}

.paddingtop_medium{
  padding-top: 30px;
}

.imagelistitem{
  height: 55px;
}

.remove-button{
  right: 20px;
}
